@model ASPtask.Models.ViewModel

@{
    ViewData["Title"] = "List";
}

<h1>List of Students</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name:
            </th>
            <th>
                Last Name:
            </th>
            <th>
                E-Mail:
            </th>
            <th>
                Course:
            </th>
            <th>
                University:
            </th>
            <th>
                Answers:
            </th>
            <th>
                Actions:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllStudents)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.EMail
                </td>
                <td>
                    @item.Course
                </td>
                <td>
                    @{
                        University unv = Model.AllUniversities.Find(x => x.UniversityID == item.UniversityID);
                        if (unv != null) { <label>@unv.UniversityName</label> }
                        else { <label>!NOTANSWERED!</label> }
                    }
                </td>
                <td>
                    @foreach (var question in Model.AllQuestions)
                    {
                        @question.QuestionContents
                        <label> : </label>
                        List<string> str = new List<string>();
                        item.Answers.TryGetValue(question.ID, out str);
                        if (str != null) foreach (string answ in str) { <label>@answ </label> }
                        else { <label>!NOTANSWERED!</label> }
                        <br>
                    }
                </td>
                <td>
                    <div class="row">
                        <input type="button" value="Edit" class="btn btn-outline-warning" onclick="location.href='@Url.Action("Edit", "Students", new { id=item.StudentID })'" />
                    </div>
                    <br>
                    <div class="row">
                        <input type="button" value="Details" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Details", "Students", new { id=item.StudentID })'" />
                    </div>
                    <br>
                    <div class="row">
                        <input type="button" value="Delete" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete", "Students", new { id=item.StudentID })'" />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>